.category-list {
    width: 100%;
    padding: 0 24px;
}
.category-list ul {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}
.category-list ul li img {
    max-width: 200px;
    width: 100%;
}
.category-list ul li a {
    display: grid;
    justify-items: center;
}